@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    font-family: "Inter", sans-serif;
    width: 100%;
    background-color: rgba(245, 245, 247, 1);
}

/* HEADER */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 120px 22px 120px;
}

.logo a {
    color:rgba(91, 71, 209, 1);
    font-size: 24px;
    font-weight: 700;
    padding-right: 50px;

}

.nav ul {
    display: flex;
    align-items: center;
    gap:20px;
    
}

.nav ul a{
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
}

/* SECTION HERO */
.hero {
   background-image: url(./assets/images/hero/hero-poster.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
   text-align: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 131px 0 37px 0;
    letter-spacing: 3px;
}

.hero p {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding-bottom:150px;
    letter-spacing: 1px;
}

/* SECTION CARDS */

.cards-title {
    font-size: 36px;
    font-weight: 700;
    padding: 45px 0 45px 0;
    text-align: center;
    letter-spacing: 1px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding-bottom: 151px;
    
}

.card {
    width: 360px;
    height: 472px;
    background:  rgba(255, 255, 255, 1);
}

.card img {
    height: 240px;
    width: 360px;
}

.card-info {
    padding: 10px 0px 10px 19px;
}
.card-info span {
    font-size: 13px;
    font-weight: 400;
    color:rgba(0, 0, 0, 1);
}

.card-info span:first-child {
    padding-right: 28px;
}

.card-text {
    padding: 0 19px 0 19px ;
}

.card-text h4 {
    font-size: 22px;
    font-weight: 600;
    color:rgba(0, 0, 0, 1);
    line-height: 1.3;
    padding-bottom: 8px;
    
}

.card-text p {
    font-size: 15px;
    font-weight: 400;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(37, 36, 36, 1);
    padding: 50px 120px 50px 120px;

}

.techblog {
    width: 200px;
}

.techblog p,
.contact li,
.categories li,
.categories ul a {
    font-size: 14px;
    font-weight: 400;
    color:rgba(161, 161, 166, 1);
}

.techblog h5, 
.contact h5, 
.categories h5 {
    font-size: 20px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 10px;
}

.contact li, 
.categories li {
    padding-bottom: 6px;
}

.copyright {
    background: rgba(2, 2, 2, 1);
    color:rgba(134, 134, 139, 1);
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0 20px 0;
}



